@import 'tailwindcss';

@theme {
  --animate-gradient: scroll 10s ease infinite;

  @keyframes scroll {
    0% {
      background-position: 0% 50%;
      background-image: linear-gradient(to right, purple, blue);
      background-size: 200% 200%;
    }
    50% {
      background-position: 100% 50%;
      background-image: linear-gradient(to right, purple, blue);
      background-size: 200% 200%;
    }
    100% {
      background-position: 0% 50%;
      background-image: linear-gradient(to right, purple, blue);
      background-size: 200% 200%;
    }
  }
}
